
span {margin:3 0 0 3px; display:inline-block; font-size: 16px;}
p {margin:3 0 0 3px; display:inline-block; }
.ikon {width:20px; }
.linie {height: 28px;}
.inline {display:inline-block;}
.hidden {display:none;}
.fontsize1 {font-size:14px;}
.fontsize2 {font-size:8px; }
.fontsize3 {font-size:18px;}
.line {width:100%;}
.but {background:#aaaaaa; color:#ffffff; padding:1px; border-radius:25%;}
.marginleft {margin-left:3px; }
.noborder {border-width:0px;}
.margin {margin:3px;}
.text {border-radius: 5px; border-width:1px; margin:0 0 0 3; border-style: solid; border-color:#e8e8e8;}
.select {margin:0 0 0 3;}
.redcore button {margin-right: 5px; }
.redcore input {margin-right: 5px; height:20px;}
.redcore input[type=text] {margin-right: 5px; height:15px; margin-bottom: 0px;}
.redcore input[type=datetime-local] {margin-right: 5px; height:15px; margin-bottom:0px;}
.redcore select {margin-right: 5px; height:15px; }
.redcore .progress {margin-bottom: 0px; }
.margin-right { margin-right:5px; }
.middle { vertical-align: middle; }
.redcore select {margin-right: 5px; height:25px; width:auto; margin-bottom: 0px;}
.hidden {display:none;}


